html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    background: #23212e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.cwrapper {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.desktop .swiper-container {
    width: 640px;
    height: 100%;
}

.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.float {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

.arrow {
    position: absolute;
    bottom: 0.95rem;
    width: 100%;
    height: 0.44rem;
    z-index: 99;
    text-align: center;
}

.arrow img {
    width: 0.71rem;
}

.background {
    width: 100%;
}

.logo {
    width: 1.8rem;
    top: 0;
    position: absolute;
    z-index: 99;
}

.logo img {
    width: 100%;
}

.slide1 {
    background: #ffd600;
}

.footer {
    width: 3.2rem;
    height: 0.48rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.animating {
    display: none;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.cactive .hidden {
    display: block;
}

.delay {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay600 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.delay600 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.delay900 {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
}

.delay1200 {
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms;
}

.delay1500 {
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
}

.delay1800 {
    -webkit-animation-delay: 1800ms;
    animation-delay: 1800ms;
}

.delay2100 {
    -webkit-animation-delay: 2100ms;
    animation-delay: 2100ms;
}

.delay2400 {
    -webkit-animation-delay: 2400ms;
    animation-delay: 2400ms;
}

.delay2700 {
    -webkit-animation-delay: 2700ms;
    animation-delay: 2700ms;
}

.delay3000 {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}

.delay3300 {
    -webkit-animation-delay: 3300ms;
    animation-delay: 3300ms;
}

.delay3600 {
    -webkit-animation-delay: 3600ms;
    animation-delay: 3600ms;
}

@keyframes pound {
    from {
        transform: none;
        -webkit-transform: none;
    }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
    }
    to {
        transform: none;
        -webkit-transform: none;
    }
}

.heart {
    /* ... */
    animation: pound 2.5s infinite;
    -webkit-animation: pound 2.5s infinite;
}

@keyframes bigger {
    from {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
    }
    to {
        transform: none;
        -webkit-transform: none;
    }
}

.bigger {
    /* ... */
    animation: bigger 1s;
    -webkit-animation: bigger 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.fadein {
    /* ... */
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    /* ... */
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: backwards;
}