html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    background: #23212e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.cwrapper {
    transform-origin: 50% 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.desktop .swiper-container {
    width: 640px;
    height: 100%;
}

.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.float {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    animation-delay: 100ms;
}

.arrow {
    position: absolute;
    bottom: 0.95rem;
    width: 100%;
    height: 0.44rem;
    z-index: 99;
    text-align: center;
}

.arrow img {
    width: 0.71rem;
}

.background {
    width: 100%;
}

.logo {
    width: 1.8rem;
    top: 0;
    position: absolute;
    z-index: 99;
}

.logo img {
    width: 100%;
}

.slide1 {
    background: #ffd600;
}

.footer {
    width: 3.2rem;
    height: 0.48rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.animating {
    display: none;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.cactive .hidden {
    display: block;
}